<div ng-hide="customer.orders.length === 0 && active === 'detail'">
	<ul class="list-group" ng-init="typeSort='product'">
		<li class="list-group-item active">
			<b>
			<div class="row">
				<div class="col-md-2 col-md-offset-2" ng-click="typeSort='product';reverse=!reverse"><span ng-class="{'big-font': typeSort === 'product'}">Product</span><span ng-show="typeSort === 'product'" class="glyphicon pull-right" ng-class="{'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down': !reverse}"></span></div>
				<div class="col-md-2">Quantity</div>
				<div class="col-md-3">Unit Price</div>
				<div class="col-md-3" ng-click="typeSort='total';reverse=!reverse"><span ng-class="{'big-font': typeSort === 'total'}">Total</span><span ng-show="typeSort === 'total'" class="glyphicon pull-right" ng-class="{'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down': !reverse}"></span></div>
			</div>
			</b>
		</li>

		<li class="list-group-item" ng-class="{'list-group-item-warning' : ($index % 2)}" ng-repeat="order in customer.orders | orderBy: (typeSort === 'product' ? 'product' : 'quantity*unitPrice'):reverse">
			<div class="row">
				<div class="col-md-2">
					<div class="btn btn-warning" ng-disabled="customer.selectedOrder" ng-click="edit.value = customer.getOrderForEdit(order);" ><span class="glyphicon glyphicon-pencil"></span></div>
	  				<div class="btn btn-danger" ng-disabled="customer.selectedOrder" ng-click="edit.value = customer.removeOrder(order)"><span class="glyphicon glyphicon-remove"></span></div>
				</div>
				<div class="col-md-2">{{order.product}}</div>
				<div class="col-md-2">{{order.quantity}}</div>
				<div class="col-md-3">{{order.unitPrice | currency}}</div>
				<div class="col-md-3">{{(order.quantity*order.unitPrice) | currency}}</div>
			</div>
		</li>

		<li class="list-group-item list-group-item-info">
			<div class="row">
				<div class="col-md-9"></div>
				<div class="col-md-3"><b>{{customer.orders | totalSum: customer.orders | currency}}</b></div>
			</div>
		</li>
	</ul>
</div>