<div class="row" ng-init="edit={};">
	<div class="col-md-5">
		<h3>Orders for {{customer.information.firstName}} {{customer.information.lastName}}</h3>
		<h4>{{customer.information.street}}</h4>
		<h4>{{customer.information.city}}</h4>
	</div>
</div>
<div class="btn btn-primary" ng-hide="showForm || customer.selectedOrder" ng-click="showForm = true; edit.value = null;">ADD ORDER</div>
<br/><br/>
<div class="row" >
	<div class="col-md-5">
		<form ng-init="edit={}" class="well" ng-show="showForm || customer.selectedOrder">
			<div class="form-group">
				<label>Product:</label>
				<input class="form-control" ng-model="edit.value.product" />
			</div>
			<div class="form-group">
				<label>Quantity:</label>
				<input class="form-control" type="number" min-value="0" ng-model="edit.value.quantity" />
			</div>
			<div class="form-group">
				<label>Unit Price</label>
				<input class="form-control" type="number" min-value="0" ng-model="edit.value.unitPrice" />
			</div>
			<div class="btn btn-success" ng-show="!customer.selectedOrder"
				ng-click="customer.addOrder(edit.value); showForm = false;">SAVE</div>
			<div class="btn btn-success" ng-show="customer.selectedOrder"
				ng-click="customer.saveOrder(edit.value)">SAVE</div>
			<div class="btn btn-default pull-right" ng-click="customer.selectedOrder = null; edit.value = null; showForm = false;">CANCEL</div>
		</form>
	</div>
</div>
<customer-order></customer-order>


